header {
    background-color: #50535C; /* #37BBED */
    width: 100%;
    /* border-bottom-left-radius: 15px;
    /* border-bottom-right-radius: 15px; */
}

.ocultar-logo {
    display: none;
}

body {
    margin: 0; 
    padding: 0;
}

#logo {
    margin-left: 20px;
    padding: 12px;
    height: 75px; 
    width: auto;
}

#marca {
    border-top: 1px solid #E7E7E7;
    display: flex;
    align-items: space-around;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 26px;
    width: 90%;
    height: auto;
    max-width: 400px;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

main {
    display: flex;
    flex-direction: column;
}

#buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%; 
    margin: 0 auto;
}

#busqueda, #buscador button, #categoria {
    font-size: 16px;
    padding: 10px;
    margin: 4px;
    margin-bottom: 42px;
    border: 1px solid #E7E7E7; 
    border-radius: 5px;
    width: 100%;
    outline: none;
    box-sizing: border-box; 
}

label[for="categoria"], label[for="busqueda"], .texto-o {
    font-size: 16px;
    font-family: "Encode Sans", sans-serif;
}

#buscador button {
    padding: 10px 20px;
    width: 50%;
}

#buscador-seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

select#categoria {
    color: #757883;
    font-family: "Roboto", sans-serif;
}

#titulo, #titulo_2 {
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 6;
    margin: 10px 25px 10px 0px;
}

.titulo-resultado {
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    padding: 6px;
    margin: 10px 25px 20px 45px;
}
.parrafo {
    font-size: 16px;
    font-family: "Encode Sans", sans-serif;
    line-height: 2;
    padding: 6;
    margin: 10px 25px 35px 0;
}

#texto-arriba {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex: 1;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 26px;
}

#texto-seccion {
    display: none;
}

.nombre-resultado {
    font-family: "Encode Sans", sans-serif;
    color: #50535C;
    line-height: 1.1;
    font-weight: bold;
    font-size: 16px;
    padding-left: 6;
    margin: 10px 25px 10px 51px;
}

.resultado {
    font-family: "Encode Sans", sans-serif;
    color: #50535C;
    line-height: 1.1;
    font-size: 14px;
    margin: 0px 65px 10px 51px;
}

hr {
    width: 60%;
    border-top: 0.75px solid #37BBED;
    margin: 20px 75px 20px 51px;
}
